.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
}

.container h3 {
    margin: 20px 0px 20px 0px;
    font-size: 20px;
    font-weight: 700;
}

.reco_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding-bottom: 20px;
}

.all_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}
